@{
	ViewData["Title"] = "Home Page";
}

@using CreatureTeacher.Models
@using System.Collections.Generic
@model List<CreatureTeacher.Models.Creature>

<h1>It's time to make a baby creature!</h1>
<h2>Pick 2 parents to create a new creature.</h2>

@if (@Model.Count == 0)
{
  <p>Ruh Roh. You haven't built any creatures yet!</p>
  @Html.ActionLink("Build a New Friend", "Create")
} 

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col">
  Pick Parent 1!
    
    @* Parent Thumbnail Pics *@
    @foreach (Creature creature in @Model)
    {
      <a href='@Url.Action("SelectParent1","Creatures", new { parent1Id = creature.CreatureId})'>
        <img src="../img/just-jeremy.png" width="100">
      </a>
    }

  </div>
  <div class="mdl-cell mdl-cell--6-col">
  Pick Parent 2!
    @* Parent Thumbnail Pics *@
    @foreach (Creature creature in @Model)
    {
      <a href='@Url.Action("SelectParent2","Creatures", new { parent2Id = creature.CreatureId})'>
        <img src="../img/just-matt.png" width="100">
      </a>
    }
  </div>
</div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col">
    <div class="select-circle">
    @Html.Partial("_Parent1")
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <div class="select-circle">
    @Html.Partial("_Parent2")
    </div>
  </div>
</div>

<a href='@Url.Action("Details","Creatures", new { id = @ViewBag.babyExistsId})'>
  <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    Breed those Bad Mamma Jammas
  </button>
</a>
