@{
	ViewData["Title"] = "Home Page";
}

@model CreatureTeacher.Models.Creature

<div class="mdl-grid">
  <div id="creature" class="mdl-cell mdl-cell--6-col">
		@Html.Partial("_ShowCreature")
	</div>
  <div class="mdl-cell mdl-cell--6-col">
		@using (Html.BeginForm())
		{
			@Html.LabelFor(model => model.Name)
			@Html.EditorFor(model => model.Name)
			@Html.LabelFor(model => model.Eye)
			@Html.DropDownList("EyeId")
			@Html.LabelFor(model => model.Mouth)
			@Html.DropDownList("MouthId")
			@Html.LabelFor(model => model.Head)
			@Html.DropDownList("HeadId")
			@Html.LabelFor(model => model.Tail)
			@Html.DropDownList("TailId")
			<button type="submit">Make Me a Friend!</button>
		}
	</div>
</div>


@Html.ActionLink("Go back to all creatures", "Index")