@{
	ViewData["Title"] = "Home Page";
}

@using CreatureTeacher.Models
@model CreatureTeacher.Models.Creature

@Html.DisplayFor(model => model.Name)'s Creature Features: 
<ul>
    <li>@Html.ActionLink($"{Model.Eye}", "Details", "Eyes", new { id = Model.EyeId })</li>
    <li>@Html.ActionLink($"{Model.Mouth}", "Details", "Mouth", new { id = Model.MouthId })</li>
    <li>@Html.ActionLink($"{Model.Head}", "Details", "Head", new { id = Model.HeadId })</li>
    <li>@Html.ActionLink($"{Model.Tail}", "Details", "Tail", new { id = Model.TailID })</li>
</ul>
@Html.ActionLink("Back to List", "Index")