@{
	ViewData["Title"] = "Home Page";
}

@using CreatureTeacher.Models
@using System.Collections.Generic
@model List<CreatureTeacher.Models.Creature>


<h1>Your Creature Friends!</h1>
@if (@Model.Count == 0)
{
  <p>Make a New Creature!</p>
    <div class="demo-card-square mdl-card mdl-shadow--2dp">
      <a href="/Creatures/Create" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">add</i>
      </a>
              <div class="mdl-card__actions mdl-card--border">
          <a href="/Creatures/Create" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Add New
            @Html.ActionLink($"Add New", "Create")
          </a>
        </div>
      
    </div>
}
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col">
    <div class="demo-card-square mdl-card mdl-shadow--2dp">
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">add</i>
      </button>
              <div class="mdl-card__actions mdl-card--border">
          <a href="/Creatures/Create" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Add New
            @Html.ActionLink($"Add New", "Create")  
          </a>
        </div>
    </div>
  </div>
    @foreach(Creature creature in Model)
    {
    <div class="mdl-cell mdl-cell--4-col">
      <div class="demo-card-square mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">
         @* Image will go here *@
        </div>
        <div class="mdl-card__supporting-text">
          @creature.Name
        </div>
        <div class="mdl-card__actions mdl-card--border">
          @* <a asp-controller="Creatures" asp-action="Details" asp-route-id="creature.CreatureId" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">View Details
            @Html.ActionLink($"View Details", "Details", new { id = creature.CreatureId })
          </a> *@
          <p class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">@Html.ActionLink("Say Hey", "Details", new { id = creature.CreatureId})</p>
        </div>
      </div>
    </div>
    }
</div>