@{  
  string bodyImagePath = Url.Content("../img/creatureImages/bodies/" + @ViewBag.Parent1Body);
  string eyeImagePath = Url.Content("../img/creatureImages/eyes/" + @ViewBag.Parent1Eye);
  string mouthImagePath = Url.Content("../img/creatureImages/mouths/" + @ViewBag.Parent1Mouth);
  string headImagePath = Url.Content("../img/creatureImages/hair/" + @ViewBag.Parent1Head);
  string tailImagePath = Url.Content("../img/creatureImages/tails/" + @ViewBag.Parent1Tail);
}

<div class="details-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <img src="@eyeImagePath" width="500" id="eyesImg">
    <img src="@bodyImagePath" width="500" id="bodyImg">
    <img src="@mouthImagePath" width="500" id="mouthImg">
    <img src="@tailImagePath" width="500" id="tailImg">
    <img src="@headImagePath" width="500" id="headImg">
  </div>
</div>

					@* <img src="../../img/creatureImages/bodies/body-blue.png" width="500" id="bodyImg">
					<img src="../../img/creatureImages/mouths/@Url.Content(Model.Mouth.Image)" width="500" id="mouthImg">
					<img src="../../img/creatureImages/eyes/@Url.Content(Model.Eye.Image)" width="500" id="eyesImg">
					<img src="../../img/creatureImages/tails/@Url.Content(Model.Tail.Image)" width="500" id="tailImg">
					<img src="../../img/creatureImages/hair/@Url.Content(Model.Head.Image)" width="500" id="headImg"> *@