@{  
  string bodyImagePath = Url.Content("../img/creatureImages/bodies/" + @ViewBag.Parent1Body);
  string eyeImagePath = Url.Content("../img/creatureImages/eyes/" + @ViewBag.Parent1Eye);
  string mouthImagePath = Url.Content("../img/creatureImages/mouths/" + @ViewBag.Parent1Mouth);
  string headImagePath = Url.Content("../img/creatureImages/hair/" + @ViewBag.Parent1Head);
  string tailImagePath = Url.Content("../img/creatureImages/tails/" + @ViewBag.Parent1Tail);
}

    <div class="format-creature">
      <img src="@bodyImagePath" width="500" id="bodyImg">
      <img src="@eyeImagePath" width="500" id="eyeImg">
      <img src="@mouthImagePath" width="500" id="mouthImg">
      <img src="@tailImagePath" width="500" id="tailImg">
    </div>
